body {
text-align: center;
background-color: rgb(247, 239, 235);
font-family: "Fredoka", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
}

nav {
margin-bottom:20px;
background-color: #5f3e3e;
}

input[type=text] {
width: 70%;
padding: 9px;
margin: 10px 0;
box-sizing: border-box;
border: 1px solid rgb(139, 31, 31);
border-radius: 6px;
}

h5 {
color: white;
}

a {
color: white;
}

input[type=number] {
width: 30%;
padding: 9px;
margin: 10px 0;
box-sizing: border-box;
border: 1px solid rgb(152, 13, 13);
border-radius: 6px;
}

.button {
background-color: #7a3535;
border: none;   
color: white;
padding: 5px 90px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 2px 2px;
cursor: pointer;
border-radius: 6px;
}

.container {
background-color: rgb(225, 232, 236);
margin-top:15px;
border-radius: 20px;
max-width: 500px;
padding: 15px;
}

.header {
background-color: rgb(225, 232, 236);
margin-left: auto;
margin-right: auto;
border-radius: 20px;
max-width: 700px;
padding: 15px;
}

